[Unit]
Description=pistatus service
After=network.target syslog.target
Wants=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/PiStaTus/PiStaTus


[Install]
WantedBy=multi-user.target
